@{
    ViewBag.Title = "Controllers - 2";
}

<h3>@ViewBag.Title</h3>

<div ng-controller="simpleCtrl as sc">
    <p>Object text: {{ sc.obj.text }}</p>
    <p>Object2 text: {{ sc.obj2.text }}</p>

    <div ng-controller="subCtrl">
        <p>Object Inner Scope: {{ obj.text }}</p>
        <p>Object2 from Parent Scope: {{ obj2.text }}</p>
    </div>

    <br/>
</div>
