@{
    ViewBag.Title = "Controllers";
}

<h3>@ViewBag.Title</h3>

<div ng-controller="simpleCtrl">
    <p>Object Simple Scope: {{ obj.text }}</p>

    <div ng-controller="subCtrl">
        <p>Object Inner Scope: {{ obj.text }}</p>
    </div>

    <br/>
</div>
