@{
    ViewBag.Title = "Visão geral";
}

<div>
    <h2>@ViewBag.Title</h2>

    <h3>View</h3>
    <p>O que o usuário vê (DOM).</p>

    <h3>Data Binding</h3>
    <p>Sincroniza os dados entre o model e a view.</p>

    <h3>Directives</h3>
    <p>Único lugar aonde uma aplicação deveria estar manipulando o DOM.</p>

    <h3>Controllers</h3>
    <p>Responsáveis pelas regras de negócio por trás das views (Deveriam ser simples).</p>

    <h3>Services</h3>
    <p>Responsáveis pelas regras de negócio reusáveis independente das views.</p>

    <h3>Scopes</h3>
    <p>Contexto aonde o model é armazenado para que controllers, directives e expressions possam acessá-lo.</p>

    <h3>Expressions</h3>
    <p>Acessam variáveis e funções do scope a partir da view.</p>

    <h3>Filters</h3>
    <p>Formatam o valor de uma expression para apresentar ao usuário.</p>

    <h3>Module</h3>
    <p>Container para diferentes partes de um aplicativo, incluindo controllers, services, filters, directives.</p>
</div>