@{
    ViewBag.Title = "Services - 4";
}

<h2>@ViewBag.Title</h2>

<h3>Singleton</h3>

<div ng-controller="firstCtrl as fc">
    <p>SingletonModel from FirstCtrl: {{ fc.singletonModel.text }}</p>
    <input type="text" ng-model="fc.singletonModel.text">
</div>

<div ng-controller="secondCtrl as sc">
    <p>SingletonModel from SecondCtrl: {{ sc.singletonModel.text }}</p>
    <input type="text" ng-model="sc.singletonModel.text">
</div>

<h3>Multiple Instances</h3>

<div ng-controller="firstCtrl as fc">
    <p>Model text from FirstCtrl: {{ fc.model.text }}</p>
    <input type="text" ng-model="fc.model.text">
</div>

<div ng-controller="secondCtrl as sc">
    <p>Model text from SecondCtrl: {{ sc.model.text }}</p>
    <input type="text" ng-model="sc.model.text">
</div>
